@import '../../../styles/config/vars'

.Form
  font-family: 'Roboto', sans-serif

  .Error, .FieldError
    color: #F7231E
    font-size: 14px

  .form-group
    margin-bottom: 8px

  .RadioField--Buttons
    .RadioButton
      display: inline-block
      width: 50%
      text-align: center
      vertical-align: top
      img
        height: 200px

  .mdc-textfield
    width: 100%
    margin-top: 0

  .mdc-textfield--upgraded:not(.mdc-textfield--fullwidth):not(.mdc-textfield--multiline)::after
    background-color: #F7901E
    height: 2px

  .mdc-textfield--focused.mdc-textfield--upgraded:not(.mdc-textfield--fullwidth):not(.mdc-textfield--multiline)::after
    transform: translateY(100%) scaleY(1.5)

  label.mdc-textfield__label.mdc-textfield__label--float-above
    color: #9B9B9B

  .mdc-select
    max-width: 100%
    background-position: right 10px center
    border-bottom: 2px solid #F7901E
    height: 45px
    margin-top: 8px
    background: none
    position: relative

    &:after
      content: ''
      width: 5px
      height: 5px
      border-right: 1px solid #F7901E
      border-bottom: 1px solid #F7901E
      transform: rotate(45deg)
      position: absolute
      right: 8px
      top: 50%
      margin-top: -5px

  .mdc-textfield.mdc-textfield--multiline
    .mdc-textfield__input
      border: none
      border-bottom: 2px solid #F7901E
      width: 100%
