@import '../../../styles/config/vars'

.Form
  font-family: 'Roboto', sans-serif

  .Error, .FieldError
    color: #F7231E
    font-size: 14px

  .form-group
    margin-bottom: 8px

    .label
      display: block
      padding: 20px 0 15px
      font-weight: normal
      margin-bottom: 0
