/**
 * `Home` Page Component
 */
.page__home
  .section--about-campaign
    p
      margin-bottom: 22px

    .caption
      margin-bottom: 18px
      padding-right: 20px

      .components--paragraph-line-rounded
        font-size: 20px
        line-height: 23px

  .components--memory-summary
    .image
      width: 220px
      height: 150px
    .quote
      top: -50px

  .section--about-us
    p
      margin-bottom: 22px

.footer--home
  padding: 0 16px

  .container--logos
    display: flex
    justify-content: space-between
    margin-bottom: 30px

    img
      height: 68px

  .components--ornament-page-footer
    margin-top: 43px

@media screen and (min-width: $tablet)
  .page__home
    .components--memory-summary
      .image
        width: 220px !important
        height: 180px !important
