.pages--memory-victim
  .section--victim-data
    .components--memory-summary
      .memory-identity
        padding: 9px 18px 18px 9px

        .name
          font-size: 30px
          margin-bottom: 3px

  .section--quote
    position: relative
    padding-top: 20px

    .title
      font-family: LiebeDoris
      font-size: 110px
      line-height: 110px
      color: #170639
      position: relative
      text-align: center

    .gallery
      position: relative
      margin-top: 90px

      img
        border-radius: 55px

        @media screen and (min-width: 600px)
          height: 100%

  .section--share
    padding-bottom: 50px
    .components--section-header
      padding-bottom: 0

    .share-button
      margin-left: 15px
      outline: none
      border: none
      background-color: transparent
      cursor: pointer

      &:first-child
        margin-left: 0

  .section--known-victim
    margin-top: 20px

    .button-primary
      margin-top: 32px

  .section--memory-comments
    margin-top: 32px

    .block--memory-comment
      position: relative
      padding-bottom: 20px
      margin-top: 20px

      &:before
        content: ''
        width: 20%
        height: 3px
        background-color: #F7901E
        position: absolute
        left: 0
        bottom: 0

      .commenter--name
        font-weight: 500
        color: #FF7D00
        margin-bottom: 10px

      .commenter--comment
        color: #464646
        line-height: 22px
        word-break: break-word
