.pages--memories-list
  & > header
    margin-bottom: 35px
    position: relative

    .components--silhouette
      &.variation-blue-2
        height: 370px
        z-index: -1
        position: absolute
        top: 0
        left: 50%
        margin-left: calc(-370px/2 - 90px)

    .title
      color: #674DA0
      font-family: LiebeDoris
      font-size: 60px
      line-height: 60px
      margin-top: 10px
      text-align: center

    .subtitle
      color: $secondary
      font-weight: normal
      text-align: center
      margin-top: 0 !important

  & > footer
    text-align: center

    .button-primary
      background-color: $secondary


  .columns
    .column
      margin-bottom: 30px

  .quote
    margin-top: 20px

  .container--button
    text-align: center

    .components--button-outline
      width: initial
      color: $secondary
      display: inline-block
      padding: 10px 20px

@media screen and (min-width: $tablet)
  .pages--memories-list
    & > header
      margin-bottom: 85px

      .title
        margin-top: 30px
        font-size: 110px
        line-height: 110px
        margin-bottom: 10px

      .components--silhouette
        &.variation-blue-2
          top: -40px
          left: -90px
          margin-left: 0
          height: 451px

    & > footer
      position: relative

      .button-primary
        width: initial
        display: inline-block
        padding: 12px 70px

      .components--silhouette
        &.variation-1
          height: 650px
          transform: scaleX(-1)
          top: -490px
          position: absolute
          z-index: -1
