.page--memory-create
  p
    margin-bottom: 25px


  .section--about-you
    margin-top: 0

    .components--section-header
      padding-bottom: 16px


  .section--about-victim
    margin-top: 40px

    .checkbox-field
      margin-top: 32px

  .components--ornament-page-footer
    margin-top: 75px
    height: 60px

  .button-primary
    margin-top: 48px
