.pages--memory-victim
  .section--victim-data
    position: relative
    text-align: right
    margin-bottom: 50px

    .components--memory-summary
      position: absolute
      left: 0
      top: 84px
      font-size: 16px
      width: 50%

      .memory-identity
        padding: 9px 18px 18px 9px

        .name
          font-size: 30px
          margin-bottom: 3px

  .section--quote
    position: relative
    padding-top: 20px

    .title
      font-family: LiebeDoris
      font-size: 110px
      line-height: 110px
      color: #170639
      position: relative
      text-align: center

    .gallery
      position: relative
      margin-top: 90px

      img
        border-radius: 55px

  .section--share
    .components--section-header
      padding-bottom: 0

    .share-button
      margin-left: 15px

      &:first-child
        margin-left: 0

  .section--known-victim
    margin-top: 20px
