.components--upload-field
  label
    display: block
    padding: 20px 0 15px

  .button--file-handler
    $size: 128px

    text-align: center
    width: $size
    height: $size
    line-height: $size
    background-color: #DE5F25
    border-radius: 54px
    border: none
    outline: none
    margin-bottom: 10px
    padding: 0
    box-shadow: none
    display: inline-block
    cursor: pointer
    background-size: cover
    margin-right: 20px

    &:before
      color: $white
      font-size: 30px
      text-shadow: 1px 1px 2px rgba(0,0,0,.3)
      // bulma button class overrides
      background-image: none
      transform: initial
      opacity: 1

    &.is-loading
      &:after
        // bulma is-loading class overrides
        left: calc(50% - (2em / 2))
        top: calc(50% - (2em / 2))
        width: 2em
        height: 2rem
        border-width: 3px
        border-bottom-color: white
        border-left-color: white
