.color--primary
  color: #F7901E

a.link
  color: #F7901E
  text-decoration: none

input[type="checkbox"],
input[type="radio"]
  -webkit-appearance: none
  width: 30px
  min-width: 14px
  min-height: 14px
  width: 14px
  height: 14px
  background-color: transparent
  border: 2px solid transparent
  outline: 2px solid $secondary
  margin-left: 2px

  &:checked
    background-color: $secondary
    border-color: white

.is-paddingless-y
    padding-top: 0 !important
    padding-bottom: 0 !important

.is-paddingless-x
    padding-left: 0 !important
    padding-right: 0 !important
